.container
{
  margin: 0px;
}
.banner-image {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  filter: brightness(50%);

}
.eyeButton
{
  margin-left: -30px;
  cursor: pointer;
}
.carousel
{
  width: 100%;
}

.carousel-btn
{
  background-color:#3948eb;
  border: none;
  color: #fff;
}
.carousel-caption
{
  text-transform: capitalize;
  padding-left: 50px;
  text-align: start;
}
.banner
{
 left: 0;
  align-items: start !important;
  font-family: "Rubik",sans-serif;
  letter-spacing: 0.5px;
}
.carousel-control-next, .carousel-control-prev {
  width: 6%;
}
/* .submit-button:active
{
color: white;
background-color: #ba7a30 !important;
border: none;
border-radius: 10rem;
font-weight: 16px;

} */
.banner-description
{
  margin: 5px;
}
.banner-title
{
  width: 70%;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infinte-scroll
{
  margin: 0px;
  padding: 0px;
}
.carousel-container
{
  width: 94%;
}
/* @media (max-width: 768px) {
  .carousel-container {
    height: 25vh !important;
  }
} */